@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en');


.list{
    max-height: 750px;
    overflow-y: scroll;
  }

  .backgroundwhite {
    background-color: white;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
  }

.fab-button{
  width: 50%;
  height: 50%;
}

.text-button{
  font-size: 4vh!important;
  font-weight: lighter!important;
}

.partes{

  margin-top: 5%;
  margin-bottom: 5%;

}

.text-center{
  margin: auto;
  color: black;
}