<ion-header >
  <ion-toolbar style="width: 100%; height: 100px;" color="primary">
      <img src="assets/icon/logout.png" style="margin-top: 15px;margin-left: 15px;"  (click)="OnLogOut()"></ion-toolbar>
  
</ion-header>


<ion-content padding  color="medium">
        <ion-card-title text-center class="partes">PARTES ABIERTOS</ion-card-title>

        <ion-item-sliding *ngFor="let inc of incidenceArray"  >
          <div [ngSwitch]="inc.state">
            <div *ngSwitchCase="'damageList'" >

                <ion-item (click)="goIncident(inc)" color="medium">
                    <ion-avatar style="width: 85px; height: 85px;">
                        <img src="assets/icon/notepad.png">
                    </ion-avatar>
                  <h1 style="margin-left: 5%;color: black">Averia {{ inc.idInc }}</h1>
                  <h1 class="text-center">Vehiculo: {{inc.idCar}}</h1> <h1 style="color: black" slot="end">{{inc.date}}</h1>      
                    </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="deleteIncidence(inc)" color="danger">
                      <ion-icon name="trash" slot="icon-only"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>

            </div>
            <div *ngSwitchDefault>
                <ion-item (click)="goIncident(inc)" color="medium">
                    <ion-avatar style="width: 85px; height: 85px;">
                      <img src="assets/icon/damage.png" >
                    </ion-avatar>
                    <h1 style="margin-left: 5%;color: black">Averia {{ inc.idInc }}</h1>
                    <h1 class="text-center">Vehiculo: {{inc.idCar}}</h1> <h1 style="color: black" slot="end">{{inc.date}}</h1>       
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="deleteIncidence(inc)" color="danger">
                      <ion-icon name="trash" slot="icon-only"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
            </div>
          </div>
      </ion-item-sliding>      
      <ion-item *ngIf="incidenceArray.length == 0">
        <ion-text>No hay partes abiertos</ion-text>
    </ion-item>
</ion-content>
<ion-button (click)="IrForm()" expand="full" style="height: 100px" slot="fixed" horizontal="end">
    <ion-icon name="add-circle-outline" style="font-size: 70px "></ion-icon>
    <h1 class="text-button">Nueva incidencia</h1>
</ion-button>


