.list{
  margin-left: 0.5%;
  margin-right: 0.5%;
  height: 70%;
  max-height: 500px;
  overflow-y: scroll;
  }

  .backgroundwhite {
    background-color: white;
    height: 50%;
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
  }