<ion-content color="medium" forceOverscroll="false">

  <canvas #myCanvas id="myCanvas"
  (touchstart)="handleStart($event)"
  style="border:3px solid #000000;">
  </canvas>
  <!-- (touchmove)="handleMove($event)" -->
  <!-- (touchend)="handleEnd($event)" -->


      
        <ion-list class="list">
                <ion-toolbar color="primary">
                        <ion-row>
                            <ion-col size="10">
                                <ion-card-title color="primary">
                                    <h1 style="color: white">AVERIAS: {{this.incidence.idInc}}</h1>            
                                </ion-card-title>
                            </ion-col>
                            <ion-col right>
                                <ion-button color="light" (click)="clearAll()">Limpiar</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-toolbar>
            <form [formGroup]="myForm">
                <ion-item *ngFor="let control of myForm.controls | keyvalue; let i = index" color="light">
                    <ion-label> {{i + 1}} </ion-label>
                    <ion-input required type="text" [formControlName]="control.key" placeHolder="AVERIA..." [(ngModel)]="averias[i]"></ion-input>
                    <ion-icon size='large' (click)="removeControl(control)" name="close-circle"></ion-icon>
                </ion-item>
            </form>
        </ion-list>
</ion-content>


    <ion-fab vertical="bottom" horizontal="end" (click)="goDamageList()" >
        <ion-fab-button style="width: 60px; height: 60px;margin-top: 10%;" >
            <ion-icon name="ios-arrow-forward" style="font-size: 35px"></ion-icon>
            </ion-fab-button>
        </ion-fab>
                  
        <ion-fab vertical="bottom" horizontal="start"  (click)="returnMenu()">
            <ion-fab-button style="width: 60px; height: 60px;">
                <ion-icon name="ios-arrow-back" style="font-size: 35px"></ion-icon>
            </ion-fab-button>
    </ion-fab>


<!--
<ion-buttons slot="start">
        <ion-button color="primary" fill="solid" size="large" (click)="returnMenu()">
            <ion-icon slot="start" name="arrow-round-back"></ion-icon>
            Volver
        </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
        <ion-button color="primary" size="large" fill="solid" (click)="goDamageList()">
            <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            Continuar
        </ion-button>
    </ion-buttons>
    -->